.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms ease-out;
    transition-property: transform;
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}
.mobile-menu-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    margin-top: auto;
}

.mobile-menu-contact {
    display: flex;
    flex-direction: column;
}

.mobile-menu-contact-item {}

.mobile-menu-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mobile-menu-contact .mobile-menu-contact-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-contact-item:first-child .mobile-menu-contact-link{
    color: #4d5ae5;
}

.mobile-menu-contact-item:last-child .mobile-menu-contact-link {
    color: #434455;
}
.menu-soc{
    display: flex;
    gap: 40px;

}
.mobile-menu-container {
    height: 100%;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
}
.mobile-menu .mobile-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
}
.mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
}

.mobile-menu-btn-icon {}

.mobile-menu-list {
    display: block;

}

.mobile-menu-item {
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.mobile-menu-contact .header-contact-item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu-contact .header-contact-item:first-child {
    color: #4d5ae5;
}
.mobile-menu-contact .header-contact-item:last-child {
    color: #434455;
}
.mobile-menu-link.active {
    color: #404bbf;
}
@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}